Package: liveset
Version: 0.7.2-1
Architecture: all
Maintainer: Alessandro Filippo <alessandro.filippo@infinito.it>
Installed-Size: 109
Depends: mididings, python-liblo, python-usb (>= 1.0.0~b2), alsa-utils, wmctrl
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Midi setlist organizer, based on mididings.
 Midi setlist organizer, based on mididings.
