Source: liveset
Section: unknown
Priority: optional
Maintainer: Alessandro Filippo <alessandro.filippo@infinito.it>
Build-Depends: debhelper (>= 9), python-support (>=1.0.15)
X-Python-Version: >=2.7
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>

Package: liveset
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 mididings,
 python-liblo,
 alsa-utils,
 wmctrl,
 python-wxgtk3.0
Description: Midi setlist organizer, based on mididings.
 Midi setlist organizer, based on mididings.
